@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Fredoka';
  src: url('ruta/a/tu/font.woff2') format('truetype');
}

body {
  background-image: url('/src/assets/bgh.svg');
  background-repeat: no-repeat;
  background-size: cover;
}